<ion-content [fullscreen]="true">
  <div class="header-bck"> <br>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
    <div class="logo-1">
      <ion-img class="logo-img" src="../../../../assets/icon/logo.png"></ion-img>
      <p class="slogan">Affordable, Accesible Healthcare</p>
    </div>
  </div>

  <ion-card class="ion-no-margin hm-01">
    <br><br>
    <ion-card-header>
      <ion-card-title>
        <h1 class="welcome-heading">Seting Up Your account ..</h1>
      </ion-card-title>
    </ion-card-header>


    <div class="card-container">
      <form [formGroup]="patientFormGroup" (ngSubmit)="onBoardPatient()">
        <ion-list>
          <!-- Name -->
          <ion-item>
            <ion-label position="floating">Full Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
          <!-- Contact -->
          <ion-item>
            <ion-label position="floating">Contact Number</ion-label>
            <ion-input type="text" formControlName="mobile"></ion-input>
          </ion-item>
          <!-- Email -->
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="email" id="email"></ion-input>
          </ion-item>
          <!-- ION hoover -->
          <ion-popover trigger="email" triggerAction="hover">
            <ng-template>
              <ion-content class="ion-padding">Use the same email you registered with</ion-content>
            </ng-template>
          </ion-popover>
          <!-- Address -->
          <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input formControlName="address"></ion-input>
          </ion-item>
          <!-- location -->
          <ion-item>
            <ion-label position="floating">Select Location</ion-label>
            <ion-select formControlName="location_id">
              <ion-select-option *ngFor="let location of(locationsList | async); let i = index" [value]="location.id">
                {{location.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <!-- Password -->
          <ion-item>
            <!-- <ion-label position="floating">Password</ion-label> -->
            <ion-input formControlName="password" type="password" label="Password"></ion-input>
          </ion-item>
          <!-- Confirm Password -->
          <ion-item>
            <!-- <ion-label position="floating">Confirm Password</ion-label> -->
            <ion-input formControlName="confirmPassword" type="password" label="Confirm Password"></ion-input>
          </ion-item>

        </ion-list>
        <br>

        <br>

        <ion-button shape="round" color="success" type="submit" [disabled]="patientFormGroup.invalid"
          class="login-button">SUBMIT</ion-button>
      </form>
    </div>
  </ion-card>

</ion-content>