<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
  <ion-back-button defaultHref="/patient"></ion-back-button>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-avatar class="profile-pic">
    <ion-img src="../../../../assets/images/clinician.png"></ion-img>
  </ion-avatar>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ currentUser.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      The most crazy thing about me is that I love to have a great relationship with my friends and my family.
    </ion-card-content>
    <ion-list>

      <ion-item>{{ currentUser.email }} </ion-item>
      <ion-item>{{ currentUser.mobile }} </ion-item>
      <ion-item>{{ currentUser.address }} </ion-item>
    </ion-list>
  </ion-card>
  <ion-button (click)="logOut()">LogOut</ion-button>

</ion-content>