.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}
.card {
  flex: 0 0 calc(50% - 5px);
  margin-bottom: 10px;
  border-radius: 6px;
  border: solid 2.5px #2cf58f;
}

/* custom style */
.header-bck {
  background-color: #39b366;
  margin-top: 0px;
  min-height: 12vh;
  max-height: auto;
  margin-bottom: -10px;
}
.ion-img-lg {
  width: 80px;
  height: auto;
  margin: 20px auto;
}
ion-toolbar {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    --background:: #39b366;
  }

  .hm-01 {
    border-radius: 14px !important;
    // min-height: 70vh;
  }
  ion-avatar ion-img{
    // width: 90px !important;
    // height: 60px !important;
    border-radius: 50% !important;
    overflow: hidden !important;
    border: 1px solid rgb(27, 26, 26) !important;
  }
  p {
    color: #2cf58f;
  }
  ion-searchbar.custom {
    --margin-top: 8px;  
    --border-radius: 16px;
  }
  ion-select {
    border-radius: 16px;
    border: #2cf58f solid 1px;
    height: 3px;
  }
  .specialist-cat h3{
    color: black;
    margin-left: 4%;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  ion-segment {
    --background: #54dc98;
    --color: white;
  }