.header-bck {
  background-color: #39b366;
  margin-top: 0px;
  min-height: 22vh;
  max-height: auto;
  margin-bottom: -10px;
}

ion-toolbar {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  --background:: #39b366;
}

.logo-h1 {
    margin: 30px auto;
  }

.logo-img {
  width: 180px !important;
  height: auto;
  margin: 5px auto;
}


.hm-01 {
  border-radius: 12px !important;
  min-height: 70vh;
}

ion-header {
  background-color: rgb(96, 238, 96);
}
ion-content {
  background-color: white;
  padding: 0;
}
.welcome-heading {
  text-align: center;
  margin-top: 10px;
  font-weight:700;
  font-size: larger;
}
.slogan {
  color: white;
  text-align: center;
  font-size: medium;
  margin-top: -5px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
  }
  .card {
    flex: 0 0 calc(50% - 5px);
    margin-bottom: 10px;
    border-radius: 6px;
    border: solid 2px #ff405c;
  }
  
  .svs-title {
    background-color: #ff405c;
    text-align: center;
    font-family: Helvetica;
    color: #fff;
    font-size: 10px;
    border-radius: 6px;

  }
  .card ion-img{
    width: 100%px;
    height: 15vh;
  }

.action-buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
}

.skeleton-image {
    height: 40px;
  }