.profile-pic {
  width: 80px;
  height: auto;
  margin: 10px auto;
  border: 2px solid #39b366;
}

.header-bck {
  background-color: #39b366;
  margin-top: 0px;
  min-height: 10vh;
  max-height: auto;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  //   margin-bottom: -10px;
}
.ion-img-lg {
  width: 80px;
  height: auto;
  margin: 10px auto;
}
ion-list-header {
  text-align: center;
}
