<ion-header><ion-back-button defaultHref="/patient"></ion-back-button></ion-header>
<ion-content [fullscreen]="true">
  <div class="header-bck"> <br>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>

    <div class="logo-1">
      <ion-img class="logo-img" src="../../../../assets/icon/logo.png"></ion-img>
      <p class="slogan">Affordable, Accesible Healthcare</p>
    </div>
  </div>

  <ion-card class="ion-no-margin hm-01">
    <ion-card-header>
      <ion-card-title>
        <h1 class="welcome-heading">SIGN IN</h1>
      </ion-card-title>
    </ion-card-header>


    <div class="card-container">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-list>
          <ion-item>
            <ion-input formControlName="email" label="Email" type="email"></ion-input>
          </ion-item>
          <!-- <div *ngIf="formSubmited && loghasError('email', 'required' )" style="color: red;">Email is Required</div> -->
          <!-- <div *ngIf="formSubmited && loghasError('email', 'pattern')" style="color: red;">Please use a correct Email </div> -->
          <br> <br>
          <ion-item>
            <ion-input formControlName="password" label="Pasword" type="password"></ion-input> <br>
          </ion-item>
          <!-- <div *ngIf="formSubmited && loghasError('password', 'required')" style="color: red;">Password is Required </div> -->

        </ion-list>
        <br>


        <ion-row>
          <ion-col size="6">
            <ion-checkbox formControlName="remember" labelPlacement="end" class="remeber-me">Remember Me</ion-checkbox>
          </ion-col>
          <ion-col size="6">
            <ion-label>
              <a href="#">Forgot Password?</a>
            </ion-label>
          </ion-col>
        </ion-row>

        <br>

        <ion-button shape="round" color="success" type="submit" [disabled]="loginForm.invalid"
          class="login-button">SUBMIT</ion-button>
      </form>
      <br>
      <div class="signup-cls"><ion-label>Dont have account? <a (click)="openSignUPModal()">Sign Up</a></ion-label></div>

    </div>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="closeModal()" color="danger">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>